# Ignored files
*.js
*.map
*.d.ts

#Distribution directory
dist

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# JetBrains WebStorm user-specific stuff:
.idea/

## File-based project format:
*.iws